@media screen and (max-width: 767px) {
    #banner{
        height: 750px;
        background-position: 48%;
    }
    #nav-bar > nav{
        margin-left: 20px;
    }
    #nav-bar nav a{
        border: none;
        text-align: left;
    }
    #nav-bar a:last-child{
        border-right: none;
    }
    #nav-bar nav a span{
        order: 2;
    }
    #nav-bar nav a img{
        order: 1;
    }
}
